.login-card {
	padding: 60px 17px 50px 17px;
	border-radius: 4px;
}

.login-card-title {
	margin-bottom: 35px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -0.015em;
	color: #fff;
	font-weight: normal;
}

.login-card-submit {
	margin-top: 54px;
}

@media (min-width: 576px) {
	.login-card {
		padding: 74px 44px 134px 51px;
	}

	.login-card-title {
		font-size: 48px;
	}
}

@media (min-width: 1200px) {
	.login-card {
		margin: 0;
		width: 480px;
		padding: 74px 44px 84px 51px;
	}
}